<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyoutfit.easyoutfit">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.easyoutfit.easyoutfit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".AddClothesActivity"
            android:label="@string/title_activity_add_clothes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FilterClothesActivity"
            android:label="@string/title_activity_filter_clothes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SelectClothesActivity"
            android:label="@string/title_activity_select_clothes" />
        <activity
            android:name=".EditOutfitActivity"
            android:label="@string/title_activity_edit_outfit"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>